body{
    padding-top: 200px;
    background-image: url(LOGO.png);
}
.container{
    max-width: 600px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    padding: 50px 25px 25px 30px;
    background-color: #FDF0D5;
}
.form-group{
    margin-bottom:30px;
}
.regTxt{
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}